@{
    ViewBag.Title = "Index";
    Session["Page"] = "IndustriesAndOffices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div>

        <div id="contact-page" class="container">
            <div class="bg">

                <div class="col-sm-12">
                    <h2 class="title text-center">For Your <strong>Family</strong> & Your <strong>Home</strong></h2>
                    <div class="text-center">
                        <img src="~/Content/images/industries-offices.jpg" style="align-items:center" />
                    </div>

                    <br />
                    <br />
                    <br />
                    <p>
                        Coupled with our industry knowledge and expertise we are able to oer a solution to your requirements that delivers against your business aims and objectives. Whether you're a multi-site corporation or a sole proprietor, when you shop from METRO Cash & Carry Pakistan, we guarantee you will find all that you are looking for.
                    </p>
                </div>
            </div>
        </div>



    </div><!--/#contact-page-->
</body>
