@{
    ViewBag.Title = "Index";
    Session["Page"] = "ForYourFamily";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div>

        <div id="contact-page" class="container">
            <div class="bg">

                <div class="col-sm-12">
                    <h2 class="title text-center">For Your <strong>Family</strong> & Your <strong>Home</strong></h2>
                    <div class="text-center">
                        <img src="~/Content/images/for-your-family-home.jpg" style="align-items:center" />
                    </div>
                    
                    <br />
                    <br />
                    <br />
                    <p>

                        Fulfilling all family needs under one roof, METRO Cash & Carry strives to create a better shopping environment for all.
                        <br />

                        METRO is the preferred shopping destination for Grocery, Crockery, Toys and Kids items and many more ensuring the availability of all national and private brands under one roof. In order to facilitate the families and individuals Metro serves with
                        <br />
                        <ul>
                            <li>•	Safe, consumer friendly and pollution free environment</li>
                            <li>•	Free huge parking facility</li>
                            <li>•	Complete solution under one roof</li>
                            <li>•	Fresh and hygienic perishable products</li>
                            <li>•	Strict adherence to Quality Control</li>
                            <li>•	And a passion to satisfy the consumers to the fullest. </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>



    </div><!--/#contact-page-->
</body>
