@{
    ViewBag.Title = "Index";
    Session["Page"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <br />
        <br />
        <br />



        <div class="panel-group" id="accordion">
            <div class="faqHeader">About Us</div>
            <p>
                METRO opened its first cash & carry wholesale center in Pakistan in 2007 & expanded to 5 wholesale centers in a short span of 18 months.
                In July 2012 METRO and Makro-Habib combined their wholesale business in Pakistan marking the beginning of a long-term partnership to the mutual benefit of both companies. The merger allowed METRO and Makro-Habib to combine resources and gain the financial strength to lead and grow in a challenging environment and to gain synergies targeted to generate value for our customers and suppliers alike. Today the company is operating 9 wholesale centers in Lahore, Karachi, Islamabad & Faisalabad.
            </p>

            <p>
                METRO-Habib Cash & Carry Pakistan is part of METRO GROUP’s sales division METRO Cash & Carry, the international leader in self-service wholesale. The company operates more than 700 stores in 29 countries in Europe, Asia and Africa and has a workforce of over 100,000 employees. Sales in 2011 were approximately 31 billion Euro.
            </p>

            <div class="faqHeader">Concept</div>
            <p>
                The company has a simple and efficient business concept: cash & carry wholesale, which is defined through its customer base: only professional customers are allowed to purchase at METRO-Habib Cash & Carry, all of them duly registered and provided with a customer card. It is not a super- or hypermarket chain for private consumption, but a modern form of wholesale exclusively tailored to the needs of businesses and companies. The core customers are small and medium-sized retailers as well as hotels, restaurants and caterers. The company offers business customers a comprehensive product range both in food and non-food and efficient business solutions to enhance the customer’s competitiveness in their own markets.
                <br />
                <strong>Head count of employees:</strong> 2300 approx<br />
                <strong>wholesale centers</strong> 09<br />
                <strong>Market Entry:</strong> 2007<br />

            </p>
            <div class="faqHeader">Supporting Local Businesses</div>
            <p>
                METRO-Habib serves as a catalyst for growth by implementing a modern trade infrastructure along the entire value chain: We offer local businesses like small retailers and restaurants a reliable supply source of up to 90 % locally procured goods as well as services to increase their competitiveness. At the same time we implement a modern agricultural supply chain resulting in reduction of wastage and better quality produce. In Pakistan METRO e.g. established collection centers for local farmers providing them with the opportunity to sell their produce directly at a fair market price. Through efficient post-harvest handling methods introduced by METRO a 95 % improvement in availability and quality was achieved.
            </p>

            <div class="faqHeader">Helping Paksitan Tap Into Export Markets</div>
            <p>
                While growing its business METRO-Habib will also enlarge its win-win relationships with its suppliers: We reach out to local farmers and producers by providing them with customized training programs to address gaps in knowledge and technical skills helping them to grow in national and international markets. Already 56 Pakistani companies underwent training in the scope of the companies Star Farm initiative, resulting e.g. in 20 traceable products “Made in Pakistan”, that have been developed to promote local produce for export.
            </p>


            <br />
            <br />
            <br />
            <br />
        </div>

    </div>

    <style>
        .faqHeader {
            font-size: 27px;
            margin: 20px;
        }
    </style>
</body>

</html>


