@{
    ViewBag.Title = "Index";
    Session["Page"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Page Features -->
<div class="container">
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="~/Content/images/Services/one-stop-solution.jpg" alt="">
                <div class="caption">
                    <h3>One Stop Solution</h3>
                    <p>METRO Cash & Carry offers a wide range of products under one roof covering a large spectrum of your personal/business needs ranging from grocery, confectionery, fresh meat & poultry, fruits & vegetables, household, stationery, electronics & appliances to IT & Technology.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="~/Content/images/Services/transparency-invoice.jpg" alt="">
                <div class="caption">
                    <h3>Transparency of Invoice</h3>
                    <p>METRO Cash & Carry provides you the comfort of mind to manage your personal/business supplies budget through a clean and transparent invoicing mechanism <br /><br /><br /></p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="~/Content/images/Services/quality-originality.jpg" alt="">
                <div class="caption">
                    <h3>Quality & Originality</h3>
                    <p>METRO Cash & Carry sells high quality and original products that renders reliability and durability to its customers.<br /><br /><br /><br /><br /></p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="~/Content/images/Services/attractive-prices.jpg" alt="">
                <div class="caption">
                    <h3>Attractive Prices</h3>
                    <p>METRO Cash & Carry provides products at attractive prices so you experience the difference that we bring in optimizing your personal/business supplies budget.<br /><br /><br /><br /></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
